<h2>Parduotuvės "{{eshop.name}}" valdymas</h2>
 
  <form #f="ngForm" (ngSubmit)="submit()" validate>

  
        <div class="form-group">
            <label for="state">Ar reikia gauti informaciją</label>
            <select id="state" class="form-control" [(ngModel)]="eshop.administrationId" name="administrationId" required #state="ngModel">
              <option value=""></option>
              <option value="1">Nereikia</option>
              <option value="2">Reikia</option>
            </select>
            <div class="alert alert-danger" *ngIf="state.touched && !state.valid">Reikia pasirinkti vieną iš variantų</div>
          </div>
      
          <div *ngIf=" eshop.id==1" class="form-group">
            <label for="percents">Procentas</label>
            <input id="percents" type="number" min="1" pattern="[0-9]+" class="form-control" [(ngModel)]="eshop.percents" name="percents" required #name="ngModel">
            <div class="help-tip">
                <p>Procentas negali būti neigiamas ar trupmeninis skaičius, galimi tik sveiki skaičiai.
                    Procentą įveskite patys, arba keiskite su lauke esančiomis rodyklėmis "▲" ir "▼".
                </p>
            </div>
          </div>
      <button id="save" class="btn btn-primary" [disabled]="!f.valid">Išsaugoti</button>
    
    </form>
    