
.btn-primary {
    color: #fff;
    background-color: #6CAC20;
    border-color: #548519;
  }
  .btn-primary:focus,
  .btn-primary.focus {
    color: #fff;
    background-color: #6CAC20;
    border-color: #548519;
  }
  .btn-primary:hover {  
    color: #fff;
    background-color: #3F9124;
    border-color: #548519;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #6CAC20;
    border-color: #548519;
  }
  .btn-primary:active:hover,
  .btn-primary.active:hover,
  .open > .dropdown-toggle.btn-primary:hover,
  .btn-primary:active:focus,
  .btn-primary.active:focus,
  .open > .dropdown-toggle.btn-primary:focus,
  .btn-primary:active.focus,
  .btn-primary.active.focus,
  .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #6CAC20;
    border-color: #548519;
  }