<h2>Prekės {{price.code}} redagavimas</h2>
<h3>Paskutinį kartą atnaujinta: {{price.updatedAt}}</h3>

 <form #f="ngForm" (ngSubmit)="submit()" validate>
   
    <div class="form-group">
      <label for="value">Kaina</label>
      <input id="value" type="number" step="0.01" min="0.01" class="form-control" [(ngModel)]="price.value" name="value" required #name="ngModel">   
      <div class="alert alert-danger" *ngIf="value==''">Produktas privalo turėti kodą</div>
      <div class="help-tip">
          <p>Kainos formatas: "123.56". Vietoje kablelio naudokite taško simbolį.</p>
      </div>
      <input value="true" id="edited" type="hidden" class="form-control" [(ngModel)]="!price.edited" name="edited">      
    </div>
    
     <button class="btn btn-primary" [disabled]="!f.valid">Išsaugoti</button>
     <ng2-toasty></ng2-toasty>
   </form>
   