<div class='main-nav'>
    <div class='navbar navbar'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <p>
               <a href="https://www.atea.lt/eshop/"> <img src="../../../Atea.png" alt="AteaLogo">
               </a>
            </p>
            
            <a class='navbar-brand' [routerLink]="['/home']">Kainų patarėjas </a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li id="main" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Pagrindinis
                    </a>
                </li>
                

                <li id="eshops" [routerLinkActive]="['link-active']" >
                    <a [routerLink]="['/eshops']" *ngIf="auth.isAuthenticated()">
                        <span class='glyphicon glyphicon-off'></span> Parduotuvės
                    </a>
                </li>

                <li id="products" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/products']">
                        <span class='glyphicon glyphicon-shopping-cart'></span> Produktai
                    </a>
                </li>
                <li id="fetch-data" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']" *ngIf="auth.isAuthenticated()">
                        <span class='glyphicon glyphicon-th-list'></span> Gauti duomenis
                    </a>
                </li>

                <li id="export" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/export']" >
                        <span class='glyphicon glyphicon-export'></span> Eksportuoti
                    </a>
                </li>

                <li id="processes" [routerLinkActive]="['link-active']">
                    <a href="/hangfire/jobs/processing" *ngIf="auth.isAuthenticated()">
                        <span class='glyphicon glyphicon-time'></span> Procesai
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                        <a (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
                            <span class='glyphicon glyphicon-user'></span> Prisijungti
                        </a>
                        <a (click)="auth.logout()" *ngIf="auth.isAuthenticated()">
                            <span class='glyphicon glyphicon-user'></span> Atsijungti
                        </a>
                    </li>
            </ul>
            <div class="footer">
                <hr />
                <p class="bg-info text-right text-muted">Dovydas Petrutis 2018</p>
            </div>
        </div>
    </div>
    
</div>
