<h1>Duomenų gavimas</h1>

<p>Pasirinkite iš kokios parduotuvės norite atnaujinti kainų duomenis.</p>


<button  class="btn btn-primary" (click)="skytech();" [disabled]="!isValidForm()">Skytech</button>
<ng2-toasty></ng2-toasty>
<a  class="btn btn-primary" (click)="kilobaitas();">Kilobaitas</a>
<ng2-toasty></ng2-toasty>
<a  class="btn btn-primary" (click)="fortakas();">Fortakas</a>
<ng2-toasty></ng2-toasty>
<a  class="btn btn-primary" (click)="topocentras();">Topo Centras</a>
<ng2-toasty></ng2-toasty>
<a  class="btn btn-primary" (click)="all();">Gauti iš visų</a>
<ng2-toasty></ng2-toasty>
