
<div class="container">
    <img src="../../../home.jpg" alt="Home" style="">
    
    <div class="top-left"><h1>Sveiki atvykę!</h1></div>
    <div class="centered">
        
            <h3>
                    <p>
                        Čia galite peržvelgti kainas iš kitų lietuviškų el. parduotuvių ir pamatyti kaip 
                        jos skiriasi lyginant su mūsų parduotuvėje esančiomis kainomis.
                    </p>
                    <p>
                        Rasite informacijos daugiau nei apie 100 000 prekių.
                    </p>
            </h3>
        
    </div>
  </div>

