.container {
    position: relative;
    color: white;
    width:102%;
    right: 10px;
    height: 400px;
    margin-top: 20px;
    
}
.container img {
    position: absolute;
    width:102%;
    right: 10px;
    height: 400px;
    margin-top: 20px;
    
    filter: contrast(200%) blur(2px) brightness(40%);
   
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

