<h1>Sveiki atvykę!</h1>
<div class="container">
    <img src="../../../home.jpg" alt="Home" style="">
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered"><h3>Jūs įsijungėte programą, kurioje galite pamatyti kaip skiriasi kainos kitose el. parduotuvėse.
    Čia taip pat galite atnaujinti produktų duomenis: Gauti duomenis
    Stebėti kaip yra gaunamos kainos: Procesai
</h3></div>
  </div>
<h3>Jūs įsijungėte programą, kurioje galite pamatyti kaip skiriasi kainos kitose el. parduotuvėse.
    Čia taip pat galite atnaujinti produktų duomenis: Gauti duomenis
    Stebėti kaip yra gaunamos kainos: Procesai
</h3>

